# XRPL Testnet
JSON_RPC_URL=https://s.altnet.rippletest.net:51234/


# XRPL Devnet
LENDING_DEVNET_WS_URL=wss://s.devnet.rippletest.net:51233/
LENDING_DEVNET_JSON_RPC_URL=https://s.devnet.rippletest.net:51234/


# Issuer 
ISSUER_SEED=sEdV8EK8uPMkCRHYcYG8x7jKxqj5mag
ISSUER_ADDRESS=rL7oLd4KDXcCfjPcCWpLF7WGATxPG7gcVp
ISSUER_PRIVATE_KEY=EDBDF8E62655CAB41B86B0389DAC006E27C571B22011D8B0595CD7BBC1ED85F4AA
ISSUER_PUBLIC_KEY=ED790A40CD704CEB487BB7F85EDD62888EF8236434988EB098AF1E8E56E1335BAE


# Holder / Borrower
HOLDER_SEED=sEdTZHgVTQrHJJNRiytkst15mXH6jQM
HOLDER_ADDRESS=rNH4PgbHE4JCoH7PvSjFnrXv18A8qk4nJv
HOLDER_PRIVATE_KEY=ED2A4E34EDC84003058AA334B3AC701484BFE53C433C4AAAEF56EFA4CAE4C905CE
HOLDER_PUBLIC_KEY=EDEBE1DBB56A1CA40F14228C41EAE9279B77BC7F04EB6FC6FDD820B07E6AA82269
BORROWER_SEED=sEdTZHgVTQrHJJNRiytkst15mXH6jQM
BORROWER_ADDRESS=rNH4PgbHE4JCoH7PvSjFnrXv18A8qk4nJv


# Loan Broker
LOAN_BROKER_SEED=sEdS82yBLdFhZSUNiiDHFZoWTNdcShA
LOAN_BROKER_ADDRESS=r9VSkPHFediMzCKwqvuWMazxjTsWTHntQp
LOAN_BROKER_PRIVATE_KEY=EDC2FFFCFEF113F10B6B8CEF0C74B51E9577D09F47B1EE64B5C186135FDF26F0A5
LOAN_BROKER_PUBLIC_KEY=EDF8B6D0309079F7646B541953F5B78267460688D288EC647A3B9311AFF9DC4B15
LOAN_BROKER_RULES_PATH=loan_broker/rules.json


# Depositor - Devnet
DEPOSITOR_SEED=sEdSzxp9y6RWvtk7B8Ljbey8FHHZ7QQ
ADDRESS=rUkb2PE6WPq4r2U4uwNSokjfbJHzoACan1


# Acc 1
SEED=sEdV7yJDRc4P2rgzrd4QKCauTAucNXD
ADDRESS=rh7nrDyM9duqpC821UksjaGSuV1MSxKQoR


# State File
STATE_FILE_PATH=state.json


# IPFS
IPFS_API=http://127.0.0.1:5001


# GUI
GUI_PORT=8080